body{
    margin:0;
    padding:0;
}
header,footer{
    background-color:yellow;
    color:blue;
    padding:16px;
    text-align:center;
    }
footer{
        position:fixed;
        left:0px;
        bottom:0px;
        max-height:10%;
        width:100%;
    }
.container{
    margin-left:auto;
    margin-right:auto;
    margin-top:90px;
    padding:48px;
    background-color: lightblue;
    border-style: solid;
    border-color: blue;
    width:350px;
}
.display{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:32px;
    padding:28px;
    border-style: solid;
    border-color:gray;
    background-color:white;
    text-align:right;
}
.buttons{
    margin-left:auto;
    margin-right:auto;
    gap:4px;
}
.miscfunc{
    display:flex;
}
.miscfunc > button{
    width:100%;
}
.operators{
    display:flex;
    flex-direction:column;
    width:35%;
    
}
.numbers{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    width:100%;
}
.seperator{
    display:flex;
}